<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="memory-game">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/styles.css" media="screen" rel="stylesheet">
	<title>Maksim Kanev's Memory Game</title>
</head>

<body ng-controller="setGame">

<div class="game-options" ng-hide="game_option || level">
	<h3>Select the purpose of this exercise.</h3>

	<div class="level" ng-click="start('easy', 'option')">Fun</div>
	<div class="level" ng-click="start('hard', 'option')">Training</div>
</div>

<div class="game-options" ng-show="game_option && !level">
	<h3>Select the level of difficulty you feel most comfortable with.</h3>

	<div class="level" ng-click="start('easy', 'level')">Easy</div>
	<div class="level" ng-click="start('medium', 'level')">Medium</div>
	<div class="level" ng-click="start('hard', 'level')">Hard</div>
</div>

<div id="basic-game" ng-controller="basicGame" ng-show="game_option == 'easy' && level" class="ng-class: level;">
	<img ng-repeat="image in images track by $index" ng-src="./images/{{src}}.jpg" alt="One of the images" ng-class="{{state}}" id="{{$index}}" ng-click="reveal(image, state, src)">
</div>

<div id="advanced-game">
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/game.js"></script>
</body>
</html>